*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
}

html,body{
width: 100%;
height: 100%;
overflow-x: hidden;
}
/*code for smaller screen devices👇*/
.not_available{
    background-color: #111;
    z-index: 99999;
    color: white;
    height: 100vh;
    width: 100%;
    display: none;

}
@media (max-width:768px) {
    .not_available{
        display: block;
    }
    .main{
        display: none;
    }
    #cursor{
        display: none;
    }
    .nav{
        display: none;
    }
    .not_available h1{
        padding:50% 10% 50% 10%;
        
    }
/*code for smaller screen devices👆*/
    
}
/*code for cursor👇*/
#cursor{
    position: fixed;
    height: 20px;
    width: 20px;
    font-size: 15px;
    background-color:#EDBFFF ;
    border-radius: 50%;
    z-index: 8;
    mix-blend-mode:difference;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    pointer-events: none;

}
/*code for cursor👆*/


.purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 10;
    display: none;
    opacity: 0;
    transition: opacity ease 1s ;
    align-items: center;
    justify-content: flex-start;
   
}
.text-box{
    display: none;
    color: #111;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    animation: animate 7s linear infinite;
}
.purple h1{
    color: #111;
    font-size: 5vw;
    text-transform: uppercase;

    padding: 0 6px;
    letter-spacing: 1px;
       
   }

@keyframes animate{
    0%{
        transform: translateX(0);
        
    }
       100%{
        transform: translateX(-100%);
    }
}

.main{
    background-color: #0f0d0d;
    color: #fff;
    overflow: visible;
    
}
.page1{
    height: 100vw;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
    
}
.nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 99;
    color: #fff;
}
.nav img{
    padding-top: 20px;
    height: 120px;
}
.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav .circle{
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    

}
.nav h4{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
}

.nav h4:hover{
    border-bottom: 1.5px solid white;
}

.nav h4:nth-child(1){
    border-bottom: 1.5px solid white;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 300;
    margin-left: 8vw;
}

.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;
    margin-left: 26vw;
   }
.page1 video{
   width: 60%;
   margin-top: 10vw;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}


/* page2 */
.page2{
    max-height: 90vh;
    width: 100%;
    padding: 5vw 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
    
    

}
.page2 h1{
    font-size: 7vw;
    font-weight: 500;
     color: #111;
     
    
}
.page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.page2-left{
    
    width: 38vw;
}
.page2-right{
    
    width: 24vw;
}
.page2-left h2{
     font-size: 4vw;
     font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-right p{
    font-size: 1.25rem;
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0 ;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 1.25rem;
    cursor: pointer;
}


/* page3------------ */
.page3{
    max-height: 270vh;
    width: 100%;    
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page3 h1{
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 6rem;
}

.page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 2vw 2vw 2vw;
    margin-bottom: 6vw;
    gap: 1vw;
    
}
.page3-part1 img{
    height: 30vw;
    margin-top: 7vw;
}
#page3-part1-video{
   height: 25vw;
}

.page3-part2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 2vw 0 2vw;
    gap: 1vw;
    
    
    }
.page3-part2 img{
    height: 30vw;
    margin-top: 7vw;
}
#page3-part2-video{
    height: 25vw;
 }

.page3-part3{
    margin-top: 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
    
}
.page3-part3 h1{
    color: #111;
    font-size: 4vw;
}
 .page3-part3-discover {
        height: 15vw;
        width: 15vw;
        background-color: #EDBFFF;
        border-radius: 50%;
        margin-right: 6vw; /* Adjusted margin value */
        display: flex;
        justify-content: center;
        align-items: center;
        color: #111;
        font-size: 1.5vw;
    }

    
.page3-part3-discover:hover{
    background-color: #111;
    color: #fff;
}

/* 
page-4 */
.page4{
    max-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 10vw 7vw 10vw 10vw;
    border-bottom: 2px solid #6c6c6c;


}

.elem{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}
.text-div{
    height: 8vw;
    overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    transition: all ease-out 0.5s;
    font-weight: 600;

}
.elem img{
    
    max-height: 20vw;
    max-width: 20vw;
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(50%) rotate(5deg);

}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 10%;
}
.elem:hover h1{
    color: #EDBFFF;
    transform: translateY(-100%);
  
}
.elem:hover  img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

/* ---------page-5 */

.page5{
    max-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 9vw 6vw;
    margin-bottom: 5vw;

}
.box img{
    position: absolute;
    z-index: 99;
    height: 200px;
    width: 200px;
    object-fit:cover;
    pointer-events: none;
    opacity: 0;

}
.box h3, .box h4{
    z-index: 100;
}

.page5 h2{
    font-size: 4vw ;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;

}
.box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
    


}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;
}


footer{
    max-height: 100vh;
    width: 100%;
    background-color: #EDBFFF;
}
.footer-part1{
    margin-top: 3vw;
    padding-top: 15vw;
    padding-left: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    

}
.footer-part1 h1{
    color: #111;
    font-size: 7vw;
    font-weight: 400;
}
 .footer-part1-getintouch {
        height: 14vw;
        width: 14vw;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #111;
        font-size: 1.5vw;
    }
    
    

.footer-part1-getintouch:hover {
    background-color: #111;
    color: #fff;
}

.footer-part2{
    margin-top: 5vw;
    padding-left: 6vw;
    color: #111;
    margin-bottom: 5vw;
}

.footer-part3{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 6vw;
    padding-bottom: 8vw;
    
   
}  

.footer-part3 h6{
    padding-right: 4vw;
    font-size: 1vw;
    font-weight: 400;
    color: #111;
    line-height: 1.5vw;

}